{
    "extends": [
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript"
    ],
    "plugins": ["@typescript-eslint", "react", "react-native"],
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true
    },
    "rules": {
        "no-use-before-define": "off",
        "react/jsx-filename-extension": "off",
        "react/prop-types": "off",
        "comma-dangle": "off",
        "lines-between-class-members": "off",
        "camelcase": "off",
        "class-methods-use-this": "off"
    },
    "globals": {
        "fetch": false
    }
}
